# This is the .gitignore for Foursquare opensource installs.

#*
*.class
*.egg
*.iml
*.ipr
*.iws
*.jar
*.log
*.pyc
*.sublime-*
*.swp
*.tmproj
*.war
*.zip
*~
.#*
.DS_Store
.artifact_cache
.cache
.classpath
.coverage
.gitignore
.idea
.local_artifact_cache*
.pants.bootstrap*
.pants.d*
.pants.run
.pants.virtualenvs*
.pantsenv
.pex*
.pids
.project
.pvenvs*
.python
.scala_dependencies
.settings/
.svn
.wheelhouse
/out/
dependencies/*
dist
environ.sh
log/*
target/
