# This is the .gitignore for Foursquare opensource installs.

#*
*.class
*.egg
*.iml
*.ipr
*.iws
*.jar
*.log
*.pyc
*.sublime-*
*.swp
*.tmproj
*.war
*.zip
*~
.#*
.DS_Store
.artifact_cache
.buildgen_timestamp
.cache
.classpath
.coverage
.gitignore
.idea
.local_artifact_cache*
.pants.bootstrap*
.pants.d*
.pants.run
.pants.virtualenvs*
.pants.workdir*
.pantsenv
.pex*
.pids
.project
.pvenvs*
.pytest_cache
.python
.saplings
.saplingsc
.scala_dependencies
.settings/
.svn
.wheelhouse
/out/
build-support/*/upkeep/current
dependencies/*
dist
environ.sh
log/*
scripts/*/upkeep/current
scripts/upkeep/current
scripts/fsqio/Intellij/spindle_stubs/*
target/
