# This is the .gitignore for Foursquare opensource installs.

#*
*.class
*.egg
*.iml
*.ipr
*.iws
*.jar
*.log
*.pyc
*.sublime-*
*.swp
*.tmproj
*.war
*.zip
*~
.#*
.DS_Store
.artifact_cache
.buildgen_timestamp
.cache
.classpath
.coverage
.gitignore
.idea
.local_artifact_cache*
.pants.bootstrap*
.pants.d*
.pants.run
.pants.virtualenvs*
.pants.workdir.file_lock
.pantsenv
.pex*
.pids
.project
.pvenvs*
.python
.scala_dependencies
.settings/
.svn
.wheelhouse
/out/
dependencies/*
dist
environ.sh
log/*
scripts/upkeep/current
target/
