[program:twofish]
command=python {{ twofishes_dir }}/scripts/serve.py -p 8080 {{ app_code_latest_data }}
directory={{ twofishes_root }}
environment=LC_ALL=en_US.UTF-8, LANG=en_US.UTF-8, LANGUAGE=en_US.UTF-8, HOME=/home/vagrant
user=vagrant
autostart=true
autorestart=true
stdout_logfile={{ twofishes_root }}/twofish.log
stderr_logfile={{ twofishes_root }}/twofish-error.log