/**
 * The purpose of this file is to forbid non-localhost network access from our
 * tests.If you need to add any more permissions, you can find the full list here:
 *   http://download.oracle.com/javase/1.4.2/docs/guide/security/permissions.html
 */

grant {
  permission java.net.SocketPermission "localhost", "connect,accept,resolve,listen";
  permission java.io.FilePermission "<<ALL FILES>>", "read, write, execute, delete";
  permission java.util.PropertyPermission "*", "read, write";
  permission java.lang.RuntimePermission "*";
  permission java.lang.reflect.ReflectPermission "suppressAccessChecks";
  permission java.lang.reflect.ReflectPermission "newProxyInPackage.com.google.template.soy";
  permission java.util.logging.LoggingPermission "control";
  permission java.net.NetPermission "*";
  permission javax.security.auth.AuthPermission "*";
  permission java.security.SecurityPermission "*";
  permission javax.net.ssl.SSLPermission "setHostnameVerifier";
  /* hadoop tests need the mbean/jdo perms */
  permission javax.management.MBeanServerPermission "*";
  permission javax.management.MBeanPermission "*", "*";
  permission javax.management.MBeanTrustPermission "*";
  permission javax.xml.bind.JAXBPermission "*";
  permission javax.jdo.spi.JDOPermission "*";
  permission javax.security.auth.PrivateCredentialPermission "org.apache.hadoop.security.Credentials * \"*\"", "read";
  /* pig uses this for spilling stuff to disk*/
  permission java.lang.management.ManagementPermission "control";
  /* elastic search indexing tests */
  permission java.lang.management.ManagementPermission "monitor";
  /* hive tests */
  permission java.sql.SQLPermission "deregisterDriver";
};
